{% extends "bulletin/base.html" %}
{% block content %}

    <h1> Welcome to Community Bulletin Board! </h1><br>

    {% if user.is_authenticated %}

        <h2>{{board}}</h2><br>

        <div>

            {% if is_banned %}

                <h4>Oops! You are banned from creating a thread.</h4>

            {% else %}

                <form method='POST'>

                    {% csrf_token %}

                    <label for="thread"><b>Create new thread here: </b></label>
                    <input type="text" id="thread" name="thread" maxlength="100" size="20">
                    <input type="submit">

                </form>

            {% endif %}

        </div>

        <br>

        <table style="width:100%">

            <tr>

                <th>Thread</th>
                <th>Recent Post By</th>
                <th>Recent Post Date</th>
                <th>Locked</th>

                {% if is_admin_or_mod %}

                    <th>Lock/Unlock</th>
                    <th>Submit</th>

                {% endif %}

            </tr>

            {% if threads %}

                {% for thread in threads %}

                    <tr>

                        <td><a href="{% url 'thread_index' thread.pk %}">{{thread.title}}</a></td>
                        <td><a href="{% url 'user_page' thread.last_reply_name %}">{{thread.last_reply_name}}</a></td>
                        <td>{{thread.last_reply_date}}</td>

                        {% if thread.is_locked %}

                            <td>Yes.</td>

                        {% else %}

                            <td>No.</td>

                        {% endif %}

                        {% if is_admin_or_mod %}

                            <form method="POST">

                                {% csrf_token %}

                                <td>

                                    <input type="hidden" name="thread_id" value="{{thread.id}}">

                                    <select name="Lock/Unlock">
                                        <option value="lock">Lock</option>
                                        <option value="unlock">Unlock</option>
                                    </select>

                                </td>

                                <td><input type="submit" value="submit"></td>

                            </form>

                        {% endif %}

                    </tr>

                {% endfor %}

            {% else %}

                <tr>

                            <td>None as of the moment.</td>
                            <td>-</td>
                            <td>-</td>

                </tr>

            {% endif %}

        </table>



    {% else %}

        <h4>Please <a href="{% url 'login' %}">log in</a>.</h4><br>
        <h4>If you do not have an account, <a href="{% url 'register' %}">register</a> here.</h4>

    {% endif %}

{% endblock content %}