{% extends "bulletin/base.html" %}
{% block content%}

<h1> Welcome to Community Bulletin Board! </h1><br>
<h4>Feel free to interact with our community!</h4><br>

    {% if user.is_authenticated %}

        <div>

            {% if is_admin %}

                <h5>Create or remove boards <a href="{% url 'modify_boards' %}">here</a>.</h5>

            {% endif %}

        </div>

        <br>

        <div id="list">

            <table border="0" cellpadding="4" width="100%">

                <tr>
                    <td><b>Board</td>
                    <td><b>Recent Thread</td>
                    <td><b>Recent Post</td>
                    <td><b>Threads</td>
                    <td><b>Posts</td>
                    <td></td>

                </tr>

                {% for board, recent_thread in board_and_recent_thread %}

                    <tr>

                        <td>{{board.title}}</td>

                        {% if recent_thread %}

                            <td>
                            <div class="title"> <a href="{% url 'thread_index' recent_thread.pk %}">{{recent_thread.title}}</a></div>
                            </td>

                        {% else %}

                            <td>

                                <div class="title"><a href="{% url 'board_index' board.pk %}"> Nothing yet. </a> </div>

                            </td>

                        {% endif %}

                        <td>{{board.last_post}}</td>
                        <td>{{board.no_of_threads}}</td>
                        <td>{{board.no_of_posts}}</td>

                        <td>
                            <a class="button" href="{% url 'board_index' board.pk %}">VIEW BOARD</a>
                        </td>

                    </tr>

                {% endfor %}

        </div>

    {% endif %}

{% endblock content %}