{% extends "bulletin/base.html" %}
{% block content%}

<h1> Welcome to Community Bulletin Board! </h1><br>
<h4>Feel free to interact with our community!</h4><br>

    {% if user.is_authenticated %}

        {% if is_admin %}

            <div>

                <form method="POST">

                    {% csrf_token %}
                    <label for="board_create">Create board here:</label>
                    <input type="text" id="board_create" name="board_create" maxlength="100" size="20">
                    <input type="submit" value="submit">

                </form>

                <form method="POST">

                    {% csrf_token %}
                    <br>
                    <br>
                    <label for="board_remove">Remove board here:</label>
                    <select id="board_remove" name="board_remove">
                        {% for board in boards %}
                            <option value="{{board.id}}">{{board.title}}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="remove">

                </form>

            </div>

            <div>
                <br>
                <br>
                <h5>Nothing to modify? Go back <a href="{% url 'bulletin-home' %}"> here</a>.</h5>

            </div>

        {% else %}

            <h4>You are not allowed to create boards.</h4>

        {% endif %}

    {% endif %}

{% endblock content %}