{% extends "bulletin/base.html" %}
{% block content %}

    <h1> Welcome to Community Bulletin Board! </h1><br>

    {% if user.is_authenticated %}

        <h2><b>{{board.title}}</b></h2>
        <h4>{{thread.title}}</h4><br>
        <br>

        <table style="width:100%">

            <tr>

                <th>Posted By</th>
                <th>Posted On</th>
                <th>Message</th>

            </tr>

            {% for post in posts %}

                <tr>

                    <td><a href="{% url 'user_page' post.creator %}">{{post.creator}}</a></td>
                    <td>{{post.created_on}}</td>
                    <td>{{post.message}}</td>

                </tr>

            {% endfor %}
            
        </table>

        <br>

        {% if thread.is_locked %}

            <h5>Oops! Thread is locked. You cannot reply.</h5>

        {% else %}

            {% if is_banned %}

                <h5>Oops! You are banned from replying.</h5>

            {% else %}

                <form method='POST'>
                    {% csrf_token %}

                    <label for="message"><b>Reply:</label>
                    <input type="text" id="message" name="message" maxlength="10000" size="100">
                    <br>
                    <br>
                    <input type="submit" value="Post">

                </form>

            {% endif %}

        {% endif %}

    {% else %}

        <h4>Please <a href="{% url 'login' %}">log in</a>.</h4><br>
        <h4>If you do not have an account, <a href="{% url 'register' %}">register</a> here.</h4>

    {% endif %}

{% endblock content %}