{% extends "bulletin/base.html" %}
{% block content%}

<h1> Welcome to Community Bulletin Board! </h1><br>
<h4>Feel free to interact with our community!</h4><br>

{% if user.is_authenticated %}

    {% if user_name %}

        <h4><b>{{user_name}}</b></h4>

        {% if is_admin_or_mod %}

            <h5>Status:</h5>
            {% if is_banned %}
                <h6>BANNED</h6>
            {% else %}
                <h6>NOT BANNED</h6>
            {% endif %}

            <form method="POST">
                {% csrf_token %}

                <select name="ban">
                    <option value="ban">BAN</option>
                    <option value="unban">UNBAN</option>
                </select>
                <input type="submit" value="Submit">

            </form>
            <br>

        {% endif %}

        {% if posts %}

            <table style="width:100%">
                <tr>
                    <th>Post</th>
                    <th>Post Date</th>
                </tr>

                {% for post in posts %}

                    <tr>
                        <td>{{post.message}}</td>
                        <td>{{post.created_on}}</td>
                    </tr>

                {% endfor %}

        {% else %}

                <h6>No post here.</h6>

        {% endif %}

    {% else %}

        <h6>No one posted in this thread yet.</h6>

    {%endif %}

{% else %}

    <h4>Please <a href="{% url 'login' %}">log in</a>.</h4><br>
    <h4>If you do not have an account, <a href="{% url 'register' %}">register</a> here.</h4>

{% endif %}

{% endblock content %}